body {
    font-family: Roboto;
    margin: 0;
    height: 100%;
    display: flex;
    flex-direction: column;
}

a {
    all: unset;
}

.nav-container {
    padding: 0rem 25rem 0rem 25rem;
    background-color: #1f2937;
}
.container {
    padding: 4rem 25rem 4rem 25rem;
}

.nav-bar {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header-logo {
    font-size: 24px;
    color: #f9faf8;
}

ul {
    list-style: none;
    display: flex;
    gap: 2rem;
    color: #f9faf8;

}

.hero {
    background-color: #1f2937;
}

.hero-container {
    display: flex;
}

.left {
    width: 50%;
}

.hero-title {
    font-size: 48px;
    color: #f9faf8;
    font-weight: 900;
}

.hero-text {
    font-size: 18px;
    color: #e5e7eb;
}

.hero-button {
    background-color: #3882f6;
    border: none;
    border-radius: 5px;
    color: white;
    padding: 9px 36px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    font-weight: bold; 
}

.right {
    width: 50%;
}

.info-title {
    padding-bottom: 5rem;
}

.info-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.info-cards {
    display: flex;
    gap: 2rem;
    align-items: center;
}

.info-card {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.quote {
    background-color: #e5e7eb;
}

.quote-text {
    text-align: start;
    font-size: 36px;
    font-weight: lighter;
    font-style: italic;
}

.quote-author {
    text-align: end;
    font-weight: bold;
}

.cta-box {
    padding: 3rem;
    background-color: #3882f6;
    border-radius: 0.5rem;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.cta-title {
    margin: 0;
    color: white;
    font-weight: bold;
    font-size: 24px;
}

.cta-text {
    margin: 0;
    color: white;
}

.cta-button {
    background-color: #3882f6;
    border: 2px solid white;
    border-radius: 5px;
    color: white;
    padding: 9px 36px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    font-weight: bold;
}

footer {
    color: #f9faf8;
    background: #1f2937;
    padding: 2rem;
    text-align: center;
}