body {
    font-family: Roboto;
    display: flex;
    flex-flow: column;
    margin: 0;
    padding: 0;
}

.container {
    display: flex;
    flex-direction: column;
    height: 100%;
}

nav {
    background-color: aliceblue;
}

main {
    padding: 50px;
}
.hero {
    background-color: aqua;s
}

.info {
    background-color: aquamarine;
}

.quote {
    background-color: yellow;
}

.call-to-action {
    background-color: red;
}

.footer {
    background-color: ;
}